.container{
   display: flex;
   justify-content: center;
   align-items: center;    
}
.card-container h1{
    font-size: 3.9rem;
}
.card-container .list{
    width: 400px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 50px;
    border-style: none;
}
.card-container button{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: aqua;
    border-style: none;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
  }

.task-item {
display: flex;
align-items: center;
margin-bottom: 10px;
margin: 3% 0 0 0;
text-transform: uppercase;
background-color: rgb(37, 114, 150); 
color: white;
height: 30px;
}